<div class="container">
    <div class="row">
        <div class="col">
            <app-login-form></app-login-form>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end p-5">
                <div class="vertical-border p-5">
                    <h1>Don't have an Account?</h1>
                    <button class="btn btn-danger btn-lg" [routerLink]="['/auth/signup']">Register</button>
                </div>

            </div>
        </div>
    </div>
</div>