@import "../../../../styles/theme.scss";

.nav-option-position {
  padding-left: 80px;
  padding-top: 0.625rem;
}

.nav-pad-icon {
  padding-top: 6px;
}

.logo-icon {
  font-size: 30px;
}

.nav-bg {
  background-color: $nav-bg-color;
  border-bottom: 1px solid rgb(212, 209, 209);
}

.nav-text {
  color: $nav-text-color;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.social a {
  margin-right: 0.4rem;
}

.logo {
  width: 80px;
}
