<div class="d-flex flex-column card shadow bg-danger m-5 p-5">
    <div class="text-center">
        <i class="fa fa-home logo-icon text-light" aria-hidden="true" style="font-size: 80px;"></i>
        <h1 class="mt-1 text-light">Welcome Back</h1>
    </div>
    <div class="pt-5">
        <div class="pb-5">
            <label for="exampleInputEmail1" class="text-light">Email address</label>
            <input type="email" class="form-control text-light" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <div class="float-right pt-1"><a class="text-light">Forgot your Email?</a></div>
        </div>
        <div class="pb-5">
            <label for="exampleInputPassword1" class="text-light">Password</label>
            <input class="text-light" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
            <div class="float-right pt-1"><a class="text-light">Forgot your Password?</a></div>
        </div>
        <div class="pt-5 text-center">
            <button type="submit" class="btn btn-lg btn-info" style="min-width: 280px;">Submit</button>
        </div>
    </div>
</div>